<div class="naslov">
  Dobrodošli u svet fudbalskog menadžera, {{message}}!
</div>

<div class="tekst">
  <p class="txt">
      Uđite u čarobni svet fudbala, gde ste vi glavni strateg i menadžer tima! Vaša avantura započinje ovde, na početnoj stranici aplikacije fudbalskog menadžera.
      Ovde ćete imati priliku da preuzmete   potpunu kontrolu nad svojim omiljenim   fudbalskim klubom. Vaša misija? Postati   najbolji menadžer ikada i povesti svoj tim  ka slavi na terenu! Da biste to postigli,  moraćete donositi ključne odluke, birati   igrače, taktike i strategije, i voditi  svoj tim kroz izazovne utakmice.

      Sada je vreme da zakoračite na teren i ostvarite svoje fudbalske ambicije. Srećno, menadžeru!
  </p>

  <div *ngIf="authenticated">
    <app-kartice></app-kartice>
  </div>
  
</div>


  

